nav {
	display: block;
	background-color: #aeaca8;
	color: #ffffff;
	height: 30px;
	clear: both;
}

a.current,
a:hover {
	color: #000000;
}

nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;
}

nav li {
	display: inline;
	margin-right: 40px;
	font-size: 18px;
	font-family: Raleway;
}

nav li a {
	color: #ffffff;
}

a {
	text-decoration: none;
}

h1 {
	text-align: center;
	font-family: Raleway;
}
